#header{
  color:  steelblue;
  font-size:  32px;
  font-family:  fantasy, sans-serif;
  text-shadow: 2px 2px fuchsia;
}

#header:hover{
  color: palegoldenrod;
}

#header-small {
  font-size:  16px;
  color:  peru;
  text-shadow:  1px darkmagenta;
  transition: transform .3s;
}

#header-small:hover {
  transform: translateY(-10px);
}

.item-img {
  width: 225px;
  padding: 0 10px;
  float: left;
  height: 225px;
  background-repeat: no-repeat;
  background-size: 225px;
}

* {
  background-color:  papayawhip;
}

.item-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid red;
  width: 50%;
  height: 500px;

}
.item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center

}
.card-item {
  display:flex;
  flex-flow: l

}

