* {
  font-family: sans-serif;
}

html,
body {
  margin: 0 auto;
}

/* START NAVBAR -------------------------------------------------------- */

.navbar {
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding: 15px;
  background-color: white;
  border-bottom: 4px solid #e5e4e2;
  justify-content: center;
}

.navbar-left {
  display: flex;
  width: 33%;
  justify-content: flex-start;
  align-items: center;
}

.navbar-center {
  display: flex;
  width: 33%;
  justify-content: center;
  align-items: center;
}

.navbar-right {
  display: flex;
  width: 33%;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  margin: 10px;
}

.nav-item a {
  text-decoration: none;
  color: black;
}

.nav-item a:hover {
  color: #518432;
}

#nav-cart-btn {
  text-decoration: none;
  color: black;
}

#nav-cart-btn:hover {
  color: #518432;
}

/* END NAVBAR -------------------------------------------------------- */

/* START CARDS ------------------------------------------------------------------------- */

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
}

.card {
  flex: 0 1 30%;
  margin-bottom: 2em;
}

.card-img {
  border: 2px solid white;
  height: 300px;
  width: 300px;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.card-name,
.card-price {
  text-align: center;
}

.hover-container {
  position: relative;
}

.overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  justify-content: center;
}

.hover-container:hover .card-img {
  opacity: 0.3;
}

.hover-container:hover .overlay {
  opacity: 1;
}

.cart-btn:hover .cart-icon {
  color: white;
}

.cart-btn:hover {
  background-color: #518432;
  border: 2px solid #518432;
  transition: 0.5s ease;
}

.cart-btn {
  background-color: white;
  border: 2px solid grey;
  border-radius: 50%;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.cart-icon {
  color: black;
}

/* END CARDS ------------------------------------------------------------------------- */

/* START CART ------------------------------------------------------------------------- */

.cart-container {
  display: flex;
  width: 100%;
  padding: 15px;
  flex-direction: column;
}

.cart-header-container {
  display: flex;
  width: 320px;
  justify-content: center;
  text-align: center;
}

.cart-item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cart-item-left {
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
}

.cart-item-right {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: flex-start;
}

.cart-item-buttons {
  display: block;
}

.inc-qty,
.dec-qty {
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 1px auto;
  margin: 5px;
}
.inc-qty:hover,
.dec-qty:hover {
  background-color: #518432;
  color: white;
  border: 1px solid #518432;
}

.cart-item-img {
  height: 80px;
  width: 80px;
}

.cart-item-name {
  font-weight: bold;
  margin: 0px;
  margin-top: 15px;
}

.price-row {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.price-left {
  display: flex;
  width: 40%;
  justify-content: flex-start;
}

.price-right {
  display: flex;
  width: 60%;
  justify-content: flex-start;
}

.checkout-container {
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#checkout-btn {
  background-color: black;
  color: white;
  border: 2px solid black;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#checkout-btn:hover {
  background-color: #518432;
  border: 2px solid #518432;
  color: white;
  transition: 0.5s ease;
}

#total-price {
  color: #518432;
  font-size: large;
}

/* END CART ------------------------------------------------------------------------- */

/* SINGLE ITEM DISPLAY ----------------------------------------------------------*/

.single-item-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding: 15px;
  background-color: white;
  border-bottom: 4px solid #e5e4e2;
  justify-content: center;
}

.singleitem-left {
  display: flex;
  width: 33%;
  justify-content: flex-start;
}

.singleitem-center {
  display: flex;
  width: 20%;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
}

.singleitem-right {
  display: flex;
  width: 20%;
  justify-content: flex-end;
}

.single-item {
  margin: 10px;
}

.singleItem-img {
  border: 2px solid white;
  height: 800px;
  width: 600px;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.card-title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
}

/*END SINGLE ITEM DISPLAY-----------------------------------*/

/* START FOOTER -------------------------------------------------------- */

.footer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding: 15px;
  background-color: #3f3f3f;
  justify-content: center;
  color: white;
}

.footer-left {
  display: flex;
  width: 25%;
  justify-content: center;
}

.footer-center {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.footer-right {
  display: flex;
  width: 25%;
  justify-content: center;
}

.footer-item {
  margin: 10px;
}

.footer-item a {
  text-decoration: none;
  color: white;
}

.footer-item li {
  list-style-type: none;
  margin-top: 10px;
}

.footer-item ul {
  margin: 0;
  padding: 0;
}

.footer-item a:hover {
  color: #518432;
}

/* END FOOTER -------------------------------------------------------- */
